@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

::selection {
    background-color: color-mix(in srgb, theme("colors.gray.600") 50%, transparent);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-fira-code);
    --font-mono: var(--font-fira-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.animate-cursor {
    animation: blink 1s step-end infinite;
}
